<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
        </a>
    </div>
    <div class="box-search" style="margin-left: 1rem;">
        <a href="javascript:;" class=" color-gray3">
            <i class="iconfont icon-search">&#xe603;</i>
            <span class="single-line">搜索店内商品/服务</span>
        </a>
    </div>
    <div class="nav-wrap-right">
        <a href="javascript:;" class=" color-gray3">
            <span class="nav-btn">
                <i class="iconfont icon-info">&#xe636; </i>
            </span>
        </a>
    </div>
    <div class="nav-dropdown">
        <span class="triangle-up"></span>
        <ul>
            <li>
                <a class="react" href="/">
                    <i class="iconfont">&#xe602;</i>
                    <space></space>首页
                </a>
            </li>
            <li>
                <a class="react" href="javascript:;">
                    <i class="iconfont">&#xe603;</i>
                    <space></space>搜索
                </a>
            </li>
            <li>
                <a class="react" href="javascript:;">
                    <i class="iconfont">&#xe601;</i>
                    <space></space>消息
                    <em class="information">8+<s class="triangle-up"></s></em>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="content">

    <!--副导航-->
    <div class="navigation bg-white">
        <span></span>
        <ul class="clearfix">
            <li>
                <a href="javascitp:;">
                    <p>店铺首页</p>
                </a>
            </li>
            <li>
                <a href="javascitp:;">
                    <p>店主推荐</p>
                </a>
            </li>
            <li>
                <a href="javascitp:;">
                    <p>新品上架</p>
                </a>
            </li>
        </ul>
    </div>
    <!--筛选菜单-->
    <div class="sifting bg-white clearfix">
        <ul class="clearfix">
            <li class="cur" id="sortid">
                <a href="javascript:;">最新排序<i class="triangle-up"></i></a>
            </li>
            <li>
                <a href="javascript:;">售价<i class="triangle-up"></i></a>
            </li>
            <li>
                <a href="javascript:;">佣金<i class="triangle-up"></i></a>
            </li>
        </ul>
        <a id="conList" href="javascript:;" class="iconfont">&#xe68c;</a>
    </div>
    <div class="Sort bg-white">
        <ul>
            <li class="cur">
                <a href="javascript:;">最新排序 <i class="kdl-right iconfont">&#xe609;</i></a>
            </li>
            <li>
                <a href="javascript:;">销量排序 <i class="kdl-right iconfont">&#xe609;</i></a>
            </li>
            <li>
                <a href="javascript:;">收藏排序 <i class="kdl-right iconfont">&#xe609;</i></a>
            </li>
        </ul>
    </div>
    <div class="theme-popover-mask"></div>
    <div class="con-list2  bg-white listid">
        <ul class="clearfix">
            <li>
                <a href="javascript:;">
                    <div class="pic">
                        <img src="http://img.kaidianlaa.com/upload/image/201512/eeb0db82-8f9c-40ec-bf8b-797ce0f60a95.jpg"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray9 ellips">上品模型铁塔上品模型铁塔上品模型铁塔上塔</h6>
                        <div class="m-top5"><span class="color-red h5">￥85.90</span> <del class="color-gray9 p">￥125.90</del></div>
                        <div class="color-gray9 p">返现 <span class="color-gray3">￥6.50</span></div>
                        <p class="color-gray9"><span class="kdl-left">销量：1.2万</span><span class="kdl-right">收藏：65</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="pic">
                        <img src="http://img.kaidianlaa.com/upload/image/201512/eeb0db82-8f9c-40ec-bf8b-797ce0f60a95.jpg"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray9 ellips">上品模型铁塔上品模型铁塔上品模型铁塔上塔</h6>
                        <div class="m-top5"><span class="color-red h5">￥85.90</span> <del class="color-gray9 p">￥125.90</del></div>
                        <div class="color-gray9 p">返现 <span class="color-gray3">￥6.50</span></div>
                        <p class="color-gray9"><span class="kdl-left">销量：1.2万</span><span class="kdl-right">收藏：65</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="pic">
                        <img src="http://img.kaidianlaa.com/upload/image/201512/eeb0db82-8f9c-40ec-bf8b-797ce0f60a95.jpg"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray9 ellips">上品模型铁塔上品模型铁塔上品模型铁塔上品模型铁塔</h6>
                        <div class="m-top5"><span class="color-red h5">￥85.90</span> <del class="color-gray9 p">￥125.90</del></div>
                        <div class="color-gray9 p">返现 <span class="color-gray3">￥6.50</span></div>
                        <p class="color-gray9"><span class="kdl-left">销量：1.2万</span><span class="kdl-right">收藏：65</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="pic">
                        <img src="http://img.kaidianlaa.com/upload/image/201512/eeb0db82-8f9c-40ec-bf8b-797ce0f60a95.jpg"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray9 ellips">上品模型铁塔上品模型铁塔上品模型铁塔上品模型铁塔</h6>
                        <div class="m-top5"><span class="color-red h5">￥85.90</span> <del class="color-gray9 p">￥125.90</del></div>
                        <div class="color-gray9 p">返现 <span class="color-gray3">￥6.50</span></div>
                        <p class="color-gray9"><span class="kdl-left">销量：1.2万</span><span class="kdl-right">收藏：65</span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>