<style type="text/css">
    .navbar2{ background-image: none;}
    .content{ position:relative; }
    .content>img{ width: 100%;position:relative; }
    .content>a.btn{ 
    position: absolute;
    display: block;
    width: 2.82rem;
    height: .8rem;
    left: 1.76rem;
    bottom: 1.55rem;
    padding: 0;
    }
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">百万红包大派送</span>
</header>
<div class="content">
    <img src="http://img.kaidianlaa.com/upload/image/common/hongbaokuanghuan.jpg"/>
    <a href="#goods/activityArea?specialtyDisplayId=24" class="btn"></a>
</div>













