<style type="text/css">
    .navbar2{ background-image: none;}
    .content{ position: relative;}
    .content>img{ width: 100%;}
    .content>span{ position: absolute; width: 3.25rem; height: 1.03rem; display: block; background-color: transparent; bottom: .82rem; left: 1.58rem; cursor: pointer;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">商家入驻</span>
</header>
<div class="content">
    <span onclick="GO('business/merchant')"></span>
    <img src="http://img.kaidianlaa.com/upload/image/201605/30/wap_list_recruitment.jpg"/>
</div>













