<div id="clipWrap" class="clip-wrap coverscreen bg-black" style="z-index:1000;display:none;">
	<div id="clipArea" style="width:100%;height:100%;position:fixed;"></div>
	<img id="clipImg" style="display:none;"/>
	<input id="clipFile" class="hide" type="file" style="opacity:0;position:fixed;"/>
	<center class="through bottom m-bottom45">
		<div class="btn-group paddWidth" id="clipPrev">
			<button type="button" class="btn p bg-trans color-grey rounded halfWidth bd-white" id="clipBack">返回</button>
			<i class="iconfont rotateBtn">&#xe64a;</i>
			<button type="button" class="btn p bg-white color-black rounded halfWidth translucent" id="clipBtn">剪裁</button>
		</div>
		<div class="btn-group paddWidth" id="clipAfter" style="display:none;">
			<button type="button" class="btn p bg-trans color-grey rounded halfWidth bd-white" id="clipCancel">取消</button>
			<button type="button" class="btn p bg-white color-black rounded halfWidth translucent" id="clipOK">确认</button>
		</div>
	</center>
</div>