<style>
    body{ padding-bottom: 0;}
    .navbar2{ background-image: none; border-bottom: 1px solid #e5e5e5;}
    .content{ padding: .2rem; box-sizing: border-box; padding-top: .9rem;}
    p{text-indent: .5rem; line-height: .4rem; font-size: .26rem; color: #666;}
    .p1{text-indent: .2rem!important;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">开店啦用户注册协议</span>
</header>
<div class="content bg-white">
    <p>本协议是您与开店啦(www.kaidianlaa.com)网站（以下简称"本站"）的所有者开店啦（沈阳）电子商务有限公司（以下简称为"开店啦公司"）之间就本站提供的服务等相关事宜所订立的契约。如果您在本站购物和使用其提供的服务，表明您同意接受本协议所有有关的政策、条件和准则的约束，请您仔细阅读本注册协议，您点击"同意并继续"按钮后，本协议即构成对双方有约束力的法律文件。</p>
    <h5>第一条 本站服务条款的认定</h5>
    <p class="p1">1、本站的各项电子服务的所有权归开店啦公司所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的用户。本协议条款是处理双方权利义务的契约，始终有效。法律有强制性规定或双方另行特别约定的内容，依其规定而定。</p>
    <p class="p1">2、开店啦通过互联网依法为用户提供互联网信息等服务，用户在完全同意本协议及本站规定的情况下，方有权使用本站的相关服务。</p>
    <p class="p1">3、用户点击同意本协议，即视为用户确认自己具有本站店主或商家相应的权利能力和行为能力，能够独立承担法律责任。18周岁以下用户，您需在父母或监护人的监护参与下使用本站。</p>
    <p class="p1">4、开店啦保留在中华人民共和国法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</p>
    <h5>第二条 信息注册</h5>
    <p class="p1">1、用户向本站提供注册资料保证真实、准确、合法有效。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且开店啦保留终止用户使用开店啦各项服务的权利。</p>
    <p class="p1">2、用户在本站使用中，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，本站不会向外界披露用户隐私信息（详见用户隐私协议）。同时，用户同意开店啦有权使用用户注册信息、用户名、密码等信息，进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。</p>
    <p class="p1">3、用户同意，开店啦拥有通过邮件、短信电话等形式向在本站购物用户、收货人发送订单信息、本站消息等相关业务活动信息的权利。</p>
    <p class="p1">4、用户将在本站注册获得的账户借给他人使用，由此产生的全部责任和相关连带责任，用户全权承担。</p>
    <h5>第三条 注册用户的义务</h5>
    <p>本协议依据国家相关法律法规规章制定，用户同意严格遵守以下义务：</p>
    <p class="p1">（1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</p>
    <p class="p1">（2）从中国大陆向境外传输资料信息时必须符合中国有关法规；</p>
    <p class="p1">（3）不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统；</p>
    <p class="p1">（4）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；</p>
    <p class="p1">（5）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</p>
    <p class="p1">（6）不得利用本站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
    <p class="p1">（7）不得教唆他人从事本条所列禁止的行为；本站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，本站有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
    <h5>第四条 商品信息</h5>
    <p>本站上的商品价格、商品描述、数量、库存等商品信息随时可能发生变动，本站不作特别通知。本站商品信息数量庞大，由于众所周知的互联网技术因素等客观原因存在，虽然本站会尽最大努力保证您所浏览商品信息的准确性，但网页显示的信息仍可能存在一定的滞后或差错，对此情形您知悉并理解。</p>
    <h5>第五条 用户购物订单和配送事宜</h5>
    <p class="p1">1、请注册用户在仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息后下订单，避免由于订单确认失误造成不便。</p>
    <p class="p1">2、本站商家对于部分商品，设置了数量、价格等起售条件，请您在下订单前注意。本站商家对于部分商品及服务，当用户通过线上订购后，可能需要进实体店铺自提，请用户留意商品物流的具体方式，避免造成不便。注册用户下单时必须填写您希望购买的商品数量、价款、收货人、联系方式、收货地址，系统会据此生成订单；如果您在一次选购多款商品，产生多份订单，将由多个商家给您发货，到货时间之间会存在差异。注册用户可以随时登陆您在本站注册的账户，查询您的订单状态。</p>
    <p class="p1">3、商家将商品（货物）送到您所指定的收货地址，货物送达时间根据库存状况、发货地址与送达地址距离远近等有关。如下情况造成订单延迟或无法配送等，商家不承担延迟配送的责任：</p>
    <p>（1）用户提供的信息错误、地址不详细等原因导致的；</p>
    <p>（2）货物送达后无人签收，导致无法配送或延迟配送的；</p>
    <p>（3）情势变更因素导致的；</p>
    <p>（4）不可抗力因素导致的，例如：自然灾害、交通戒严、突发战争等。</p>
    <p class="p1">4、由于市场变化及各种以合理商业努力难以控制的因素的影响，本站无法保证您提交的订单信息中希望购买的商品都会有货；如您拟购买的商品，发生缺货，您有权取消订单。</p>
    <h5>第六条 帐号管理</h5>
    <p class="p1">1、用户完成申请注册手续后，获得开店啦网的相关使用权，该使用权仅属于初始申请注册人。帐号使用权禁止赠与、借用、租用、转让或售卖。</p>
    <p class="p1">2、用户帐号密码由您自行设定。开店啦特别提醒您应妥善保管您的帐号和密码。开店啦与您共同负有维护帐号安全的责任，同时会采取并不断更新技术措施，努力保护您的帐号在服务器端的安全。您同意在任何情况下不向他人透露帐号或密码信息。因您保管不善可能导致帐号被他人使用（包括但不限于遭受盗号、密码失窃）或信息数据泄漏，责任由您自行承担。</p>
    <p class="p1">3、如用户违反相关法律法规、本协议以及专项规则的规定，开店啦有权进行独立判断并随时限制、冻结或终止您对开店啦帐号的使用，且根据实际情况决定是否恢复使用。由此给您带来的损失（包括但不限于通信中断，用户资料及相关数据清空等），由您自行承担。</p>
    <h5>第七条 收费服务</h5>
    <p class="p1">1、开店啦对于实体商家的提供的部分服务是收费的，如实体商家使用收费服务，请遵守相关的规则。</p>
    <p class="p1">2、开店啦可能根据实际需要对收费服务的收费标准、方式进行修改和变更，也可能会对部分免费服务开始收费。前述修改、变更或开始收费前，开店啦将在相应服务页面进行通知或公告。如果您不同意上述修改、变更或付费内容，则应停止使用该服务。</p>
    <h5>第八条 风险及免责</h5>
    <p class="p1">1、用户理解并同意：为了向您提供有效的服务，本服务会利用您终端设备的处理器和带宽等资源。本服务使用过程中可能产生数据流量的费用，用户需自行向运营商了解相关资费信息，并自行承担相关费用。</p>
    <p class="p1">2、用户在使用本服务时，须自行承担如下开店啦不可掌控的风险内容，包括但不限于：</p>
    <p>2.1 由于受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏等不可抗拒因素可能引起的信息丢失、泄漏等风险；</p>
    <p>2.2 用户或开店啦的电脑软件、系统、硬件和通信线路出现故障；</p>
    <p>2.3 由于网络信号不稳定等原因，所引起的账户登录失败、资料同步不完整、页面打开速度慢等风险；</p>
    <p>2.4 其他开店啦无法控制或合理预见的情形。</p>
    <p class="p1">3、开店啦依据本协议约定获得处理违法违规内容或行为的权利，该权利不构成开店啦的义务或承诺，开店啦不能保证及时发现违法违规情形或进行相应处理。</p>
    <p class="p1">4、用户理解并同意，因业务发展需要，开店啦保留单方面对本服务的全部或部分服务内容在任何时候不经任何通知的情况下变更、暂停、限制、终止或撤销的权利，用户需承担此风险。</p>
    <h5>第九条 所有权</h5>
    <p class="p1">1、开店啦公司是本站的制作者,拥有本网站内容及资源的著作权等合法权利,受国家法律保护,有权不时地对本协议及本站的内容进行修改，并在本站张贴，无须另行通知用户。在法律允许的最大限度范围内，开店啦公司对本协议及本站内容拥有解释权。</p>
    <p class="p1">2、除法律另有强制性规定外，未经开店啦明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本站的信息内容，否则，开店啦有权追究其法律责任。</p>
    <h5>第十条 法律管辖和适用</h5>
    <p>本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时， 则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。 如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。 </p>
    <h5>第十一条 其他</h5>
    <p>勾选"我已阅读并同意《开店啦用户注册协议》"即视为您完全接受本协议，在注册之前请您再次确认并完全理解本协议的全部内容 </p>
    <h4 style="text-align: right; line-height: 1.5rem;">开店啦（沈阳）电子商务有限公司</h4>

</div>