<style type="text/css">
	.content{padding-bottom:.3rem;}
	.content .hd{height:.9rem; padding:.15rem; box-sizing:border-box; position:relative; color:#333;}
	.content .hd>i{width:.6rem;display: inline-block;font-size: .5rem; vertical-align: middle; height:.6rem;color:#fff; line-height:.6rem; text-align:center;background-color:#01A9EF; border-radius:50%; margin-right:.15rem;}
	.content .list>ul{padding:0 .15rem;}
	.content .list>ul>li{height:.8rem; line-height:.8rem; border-bottom:1px solid #e5e5e5; color:#666;}
	.btns{text-align:center; margin-top:1rem!important;}
	.btns a{padding:0 .25rem; margin:0 .1rem; height:.6rem; line-height:.6rem;display: inline-block;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">账单详情</span>
</header>
<!--内容-->
<div class="content">
	<div class="hd m-top10 bg-white">
		<i class="iconfont">&#xe69b;</i>支付宝支付
	</div>
	<div class="list bg-white m-top10">
		<ul>
			<li>
				总金额
				<span class="kdl-right">￥888.00</span>
			</li>
			<li>
				所用金额
				<span class="kdl-right">￥44.00</span>
			</li>
			<li>
				优惠折扣
				<span class="kdl-right">￥56.00</span>
			</li>
			<li>
				实付金额
				<span class="kdl-right">￥788.00</span>
			</li>
			<li>
				用户名
				<span class="kdl-right">135***451224</span>
			</li>
			<li>
				类型
				<span class="kdl-right">广告推送（3）次</span>
			</li>
			<li>
				当前状态
				<span class="kdl-right">已完成</span>
			</li>
			<li>
				创建时间
				<span class="kdl-right">2016-09-07	10:00:23</span>
			</li>
			<li>
				账单号
				<span class="kdl-right">1237154715</span>
			</li>
		</ul>
	</div>
	<div class="btns">
		<a href="javascript:;" class="bg-orange color-white">取消交易</a>
		<a href="javascript:;" class="bg-red color-white">立即支付</a>
	</div>
	<p class="m-top20 text-center h5 color-gray6"><cite class="color-red">20</cite>小时<cite class="color-red">20</cite>分钟自动关闭交易</p>
</div>
