<style type="text/css">
    .navbar .nav-header{ color: #333;}
    .content{ padding-bottom: .5rem;}
    .content .card-info>ul>li{margin-top: .2rem; background-color: #fff; }
    .content .card-info>ul>li>a{ display: block; height: .8rem; line-height: .8rem; position: relative;box-sizing: border-box; padding-left: .2rem;}
    .content .card-info>ul>li>a>input{ border: 0; width: 100%; font-size: .26rem;}
    .content .card-info>p{ height: .6rem; line-height: .6rem; color: #666; padding-left: .2rem; box-sizing: border-box;}
    .content .card-info>ul>li>a>i{line-height: .4rem; font-size: .42rem; position: absolute; right: .2rem; top: .2rem; display: inline-block; width: .4rem; height: .4rem;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1">修改登录密码</span>
</header>
<div class=" content">
<form class="form-horizontal" action="ucenter/updatePassword.shtml" method="POST" call="this.ctrl.submitCall"> 
	    <div class="card-info">
	        <ul>
	            <li>
	                <a href="javascript:;">
	                    <input type="password" name="dbPassword"  val="$.md5(this.value)" maxlength="16" placeholder="请输入当前密码"/>
	                </a>
	            </li>
	            <li>
	                <a href="javascript:;">
	                    <input type="password" name="newPassword" val="$.md5(this.value)" maxlength="16" placeholder="请设置6-16位新密码，仅限字母和数字"/>
	                    <i class="iconfont" onclick="this.ctrl.passwordToggle(this)">&#xe60e;</i><!--切换眼睛  &#xe60f;-->
	                </a>
	            </li>
	        </ul>
	    </div>
	    <div class="padding20 boxsizing">
	        <button class="btn-block m-top20" id="Confirm">确定</button>
	    </div>
    </form>
</div>













