<style>
    body{ padding-bottom: .2rem;}
    .navbar2{background-image: none; border-bottom: 1px solid #e5e5e5;}
    .content .con-hd{background-color: #fff; padding: .1rem .2rem; box-sizing: border-box;}
    .content .con-hd>div.clearfx{ position: relative; padding-left: 1.3rem; box-sizing: border-box;}
    .content .con-hd i.iconfont{ color: #fff; position: absolute; left: 0; top: .2rem; width: 1rem; height: 1rem; border-radius: 50%; text-align: center; line-height: 1rem; font-size: .6rem;}
    .content .con-hd .cont{ padding: .2rem 0; border-bottom: 1px solid #e5e5e5;}
    .content .con-hd>div.clearfx:last-child .cont{ border-bottom: 0;}
    .advantage{ padding: .2rem; box-sizing: border-box; background-color: #f0f0f0;}
    .advantage>h5{ color:#0079ff; }
    .RankingList>h5{ height: .8rem; line-height: .8rem; text-align: center; background-color: #fff;}
    .RankingList>ol>li{ height: .8rem; line-height: .8rem; border-top: 1px solid #e5e5e5; color: #666; padding: 0 .2rem; box-sizing: border-box;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">推广赚钱</span>
</header>
<div class=" content">
    <div class="con-hd bg-white">
        <div class="clearfx" onclick="GO('ucenter/twoDimension')">
            <i class="iconfont" style="background-color: #53bfe6;">&#xe687;</i>
            <div class="cont">
                <h5>二维码邀请</h5>
                <p class="color-gray6 m-top5">
                	分享到微信、QQ等渠道，好友扫一扫或长按识别二维码后前往注册登录即可完成推广
                </p>
            </div>
        </div>
        <div class="clearfx" onclick="GO('ucenter/myGeneralize')">
            <i class="iconfont" style="background-color: #cc74ec;">&#xe654;</i>
            <div class="cont">
                <h5>我的推广</h5>
                <p class="color-gray6 m-top5">
                    成功邀请到好友，只要你的好友注册，你便可以在这里查看到记录
                </p>
            </div>
        </div>
    </div>
    <div class="advantage">
        <h5>分享给好友的好处是什么？</h5>
        <p class="m-top5 color-gray6">你的好友通过识别二维码成功注册成为开店啦用户以后，您将获得0.1元-2元不等的随机金额，而您的好友将获得一次购买超值商品的机会。</p>
    </div>
    <div class="RankingList bg-white" style="display:none">
        <h5>推广排行</h5>
        <!--推广排行取前面8条数据-->
        <ol>
        </ol>
    </div>
</div>













