<style type="text/css">
    .navbar .nav-header{ color: #333;}
    .content{ padding-bottom: 1rem;}
    .content>ul>li{margin-bottom: .1rem; background-color: #fff;}
    .content>ul>li .txt{ padding: .2rem; box-sizing: border-box; border-bottom: 1px solid #e5e5e5;}
    .content>ul>li .bd{padding: .2rem; box-sizing: border-box;}
    .content>ul>li .bd i{ vertical-align: middle;}
    .content>ul>li .bd>div>a{ padding: .04rem .3rem; border: 1px solid #e5e5e5; border-radius: 3px; margin-left: .1rem;}
    button.footer{ width: 100%; min-width: 320px; max-width: 640px; position: fixed; bottom: 0; height: 1rem; line-height: 1rem; font-size: .36rem; color: #fff; background-color: #df494b; bord}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1">收货地址</span>
</header>
<div class="content ">
    <ul>
        <li>
            <div class="txt">
                <h5>张超<span class="kdl-right">145613512252</span></h5>
                <p class="m-top5 ellips1">北京海淀区中关村南大街12号</p>
            </div>
            <div class="bd clearfix">
                <div class="kdl-left color-gray6">
                    <i class="iconfont color-red">&#xe63d;</i><!--正常是这个 &#xe64f;  去掉color-red类-->
                    设为默认地址
                </div>
                <div class="kdl-right">
                    <a href="javascript:;">编辑</a>
                    <a href="javascript:;">删除</a>
                </div>
            </div>
        </li>
        <li>
            <div class="txt">
                <h5>张超<span class="kdl-right">145613512252</span></h5>
                <p class="m-top5 ellips1">北京海淀区中关村南大街12号</p>
            </div>
            <div class="bd clearfix">
                <div class="kdl-left color-gray6">
                    <i class="iconfont">&#xe64f;</i>
                    设为默认地址
                </div>
                <div class="kdl-right">
                    <a href="javascript:;">编辑</a>
                    <a href="javascript:;">删除</a>
                </div>
            </div>
        </li>
        <li>
            <div class="txt">
                <h5>张超<span class="kdl-right">145613512252</span></h5>
                <p class="m-top5 ellips1">北京海淀区中关村南大街12号</p>
            </div>
            <div class="bd clearfix">
                <div class="kdl-left color-gray6">
                    <i class="iconfont">&#xe64f;</i>
                    设为默认地址
                </div>
                <div class="kdl-right">
                    <a href="javascript:;">编辑</a>
                    <a href="javascript:;">删除</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<button class="footer">
    新增收货地址
</button>













