<style type="text/css">
    .navbar .nav-header{ color: #333;}
    .content{ padding:.2rem;box-sizing: border-box; padding-top:1rem; }
    .cexplain>p{ padding-bottom: .3rem;}
    .questionList>ul>li{ margin-bottom: .3rem;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1">名词解释</span>
</header>
<div class=" content bg-white">
    <div class="cexplain">
        <p class="color-gray6">
            <i class="iconfont color-orange">&#xe680;</i>
            <span class="color-gray3">总资产</span>
            开店啦会员（即注册用户），通过开店啦消费所产生的收入或在开店啦下单过程中产生的返现、退款等各类金额的总和，即总资产。
        </p>
        <p class="color-gray6">
            <i class="iconfont color-orange">&#xe67a;</i>
            <span class="color-gray3">累计收入</span>
            作为店主<a href="javascript:;"class="color-red">（什么是店主？）</a>，通过开店啦实际获得的推广收入、销售收入、消费收入、推广赚钱的总和，其中推广赚钱金额不可提现，或者作为开店啦普通用户，通过开店啦实际获得的推广收入、消费收入、推广赚钱的总和，即累积收入。

        </p>
        <p class="color-gray6">
            <i class="iconfont color-orange">&#xe67d;</i>
            <span class="color-gray3">待收收益</span>
            开店啦注册用户在下单消费结束后，考虑到第三方平台的结算周期，开店啦会先计算出您即将获得的推广收入、销售收入、消费收入的总合，即为待收收益。
        </p>
        <p class="color-gray6">
            <i class="iconfont color-orange">&#xe67e;</i>
            <span class="color-gray3">消费收入</span>
            开店啦对注册用户的下单消费返现方式，在开店啦下单购买标有"返现"字样的商品完成消费，均获得一定比例的消费返现，这笔返现即为用户的消费收入。
        </p>
        <p class="color-gray6">
            <i class="iconfont color-orange">&#xe67f;</i>
            <span class="color-gray3">销售收入</span>
            开店啦店主的一种收入方式。开店啦注册用户在店主店铺形成的消费，店主获得的收益即为销售收入。
        </p>
        <p class="color-gray6">
            <i class="iconfont color-orange">&#xe67b;</i>
            <span class="color-gray3">推广收入</span>
            开店啦店主的一种收入方式。开店啦店主通过邀请好友或任何其他形式注册产生的开店啦用户，受邀请用户只要在开店啦下单购买标有"返现"字样的商品完成消费，店主将获得的收益；即为推广收入。
        </p>
    </div>
    <div class="questionList">
        <ul>
            <li>
                <h6><i class="iconfont color-green">&#xe683;</i>什么是店主？</h6>
                <p class="color-gray6">开店啦普通会员通过申请并通过审核的一种身份，即“店主”。</p>
            </li>
            <li>
                <h6><i class="iconfont color-green">&#xe682;</i>如何申请？</h6>
                <p class="color-gray6">开店啦支持一键申请店主，首次注册用户，在引导页面即可完成店主的申请。也可通过点击“赚钱”导航完成申请。</p>
            </li>
            <li>
                <h6><i class="iconfont color-green">&#xe681;</i>申请“店主”的好处？</h6>
                <p class="color-gray6">开店啦提供为那些想要开店，但即找不到更好的进货渠道，更便宜的价格提供一种0成本做生意的一种方式。我们定义它为“店主”。</p>
                <p class="color-gray6">普通会员成功申请店主后，即可开通店主店铺。可以通过“赚钱”来管理店主店铺。</p>
                <p class="color-gray6">在这里，可以快速找到任何你想销售的商品或者服务。上千种行业供你选择。上百万种商品供你选择。</p>
                <p class="color-gray6">在这里，可以快速找到你想要的！</p>
                <p class="color-gray6">在这里，无需进货发货，支持全渠道推广，0成本做甩手掌柜！</p>
            </li>
        </ul>
    </div>
</div>













