<style type="text/css">
    body,html{background-color: #fff;}
    .navbar .nav-header{ color: #333;}
    .navbar{ position: relative;}
    .content{ padding: .15rem; box-sizing: border-box;}
    .content>p{ font-size: .26rem; line-height: .45rem; color: #666;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1">公司简介</span>
</header>
<div class="content bg-white">
    <p>开店啦是开店啦（沈阳）电子商务有限公司首创，设计并开发的区域实体商家移动互联网服务平台。平台通过对区域实体商家、区域用户资源的整合，重新建立实体商家和消费用户间的收益分配关系，帮助实体店实现引客、聚客，提升店内销售额，带动区域经济发展和消费升级。</p>
    <p>开店啦通过近3年的实践、论证、验证和完善，真正形成了一套完整的助力实体经济的方案和手段，是“移动互联网+区域+实体店”互联网化的先行者和践行者。开店啦将以三、四线城市为立足点，逐步延伸、包围一、二线城市，最终构建融合实体店，人际营销、社交为一体的全新商业体，实现做最有社会责任的移动互联网企业的企业远景。</p>
</div>





