<style type="text/css">
    body{ padding-bottom: 0!important;}
    .con-list .hd{ height: .8rem; line-height: .4rem; padding: .2rem; box-sizing: border-box;}
    .con-list .hd>a{ font-size: .26rem;}
    .con-list .hd>a>span{ width: .4rem; height: .4rem; display: inline-block;}
    .con-list .hd>a>span>img{ width: 100%;}
    .con-list{ margin-bottom: .1rem;}
    .con-list>ul>li{ padding: .2rem; min-height: 1.45rem; border-bottom: 1px solid #e5e5e5;}
    .con-list>ul>li:last-child{ border-bottom: 0;}
    .con-list>ul>li>a{ display: block; position: relative; padding:0 1.1rem 0 1.7rem; box-sizing: border-box; }
    .con-list>ul>li>a>div.pic{ width: 1.5rem; border-radius: 3px; overflow: hidden; position: absolute;left: 0; top: 0; height: 1.42rem; background: url("./img/list-ptobg.jpg") no-repeat; background-size: contain;}
    .con-list>ul>li>a>div.pic>img{width: 100%;}
    .con-list>ul>li>a>div.txt>p{ margin-top: .05rem;}
    .con-list>ul>li>a>div.jiage{ position: absolute; right: 0; top: 0; text-align: right;}
    .con-list .bd>div{ padding: 0 .2rem; box-sizing: border-box; text-align: right; background-color: #fff; height: .8rem; line-height: .8rem;}
    .con-list .bd>div:first-child{border-bottom: 1px solid #e5e5e5;}
    .con-list .bd>div>button{ padding: .07rem 0; color: #666; width: 1.5rem;margin-left: .2rem; border-radius: 3px; border: 1px solid #e5e5e5; background-color: transparent;}
    .con-list .bd>div>button.cur{ border: 1px solid #cc3333; color: #cc3333;}
    .con-list .bd>ul>li{ position: relative;}
    /*下拉列表*/
    .screen{ display: none; z-index: 6; position: fixed; top: .9rem; width: 100%; min-width: 320px; max-width: 640px; background-color: #fff;}
    .screen>ul>li{ height: .8rem; line-height: .8rem;border-bottom: 1px solid #e5e5e5;}
    .screen>ul>li>a{display: block; padding:0 .2rem; box-sizing: border-box; color: #333;}
    .screen>ul>li>a>i{float: right; display:none;}
    .screen>ul>li.cur>a{ color: #cc3333;}
     /*无订单*/
    .reminder{ text-align: center; margin-top: 2rem; display: block;}
    .reminder>i{ font-size: 1.5rem;}
    .reminder>button{ padding: .15rem 1.2rem; border-radius: 5px; background-color: transparent; border: 1px solid #999;}
     /*取消订单*/
    .causeList{display: none; z-index:11; position: fixed; bottom:0;padding: .2rem; box-sizing: border-box; width: 100%; min-width: 320px; max-width: 640px;}
    .causeList>ul{  border-radius: 5px; background-color: #fff;}
    .causeList>ul>li{ height: .8rem; line-height: .8rem; border-bottom: 1px solid #e5e5e5;}
    .causeList>ul>li:last-child{border-bottom: 0;}
    .causeList>ul>li>a{ display: block; text-align: center; color: #333;}
    .causeList>button{ margin-top: .2rem; height: .8rem; line-height: .8rem; background-color: #fff; width: 100%;  border: 0;border-radius: 5px; text-align: center; }
	/*支付密码*/
	.pwdpollue{display:none; text-align:center; border-radius:5px; box-shadow:0 0 10px 5px #bdbdbd; z-index:9; background-color:#fff; width:5rem; height:2.6rem; position:fixed; top:50%; left:50%; margin-left:-2.5rem; margin-top:-1.3rem; padding:.2rem; box-sizing:border-box;}
	.pwdpollue>input{ width:100%; padding:.1rem; border:1px solid #e5e5e5; font-size:.24rem; height:.6rem; line-height:.4rem; box-sizing:border-box;}
	.pwdpollue>button{padding:.05rem .2rem; border:0; border-radius:3px; text-align:center;}
	.pwdpollue>span{display:inline-block; right:.2rem; top:.2rem;position:absolute;}
    .content{ padding-top: 0;}
    .con-search{ padding:1.1rem 1.5rem .2rem .2rem; box-sizing: border-box; position: relative;}
    .con-search>input{ font-size:.26rem; height: .8rem; padding: .2rem .15rem; border:0; box-sizing: border-box; background-color: #fff; border-radius: 3px; line-height: .4rem; width: 100%;}
    .con-search>span{ position:absolute; right: .2rem; top: 1.1rem; width: 1rem; color: #999; font-size: .42rem; height: .8rem; line-height: .8rem; background-color: #fff; text-align: center;  border-radius: 3px;}
    .con-search>i{ position:absolute; right:1.6rem; top:1.35rem;color:#ccc; font-size:.36rem;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="#business/merchant" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1 color-gray3"><cite>全部</cite>▾</span>
    <div class="nav-wrap-right">
        <a href="#message/messageLists?userType=member" class=" color-gray3">
            <span class="nav-btn">
                <i class="iconfont icon-info">&#xe601;</i>
            </span>
            <s></s>
        </a>
    </div>
</header>
<div class="theme-popover-mask"></div>
<div class="pwdpollue">
	<h5>请输入支付密码</h5>
	<span id="colsePassword" class="iconfont color-red">&#xe652;</span>
	<input type="password" onkeyup="inputValidate.onlyInteger(this)"  onblur="inputValidate.onlyInteger(this)" placeholder="请输入6位数密码" class="m-top20" maxLength="6"/>
	<p class="color-red m-top10" style="text-align: right; font-size:.22rem;"><span id="findPayPassword">忘记密码？</span></p>
	<button class="m-top10 bg-red color-white">确定</button>
</div>
<!--取消订单-->
<div class="causeList">
    <ul>
        <li>
            <a href="javascript:void(0);">我不想买了</a>
        </li>
        <li>
            <a href="javascript:void(0);">信息填写错误，重新拍</a>
        </li>
        <li>
            <a href="javascript:void(0);">卖家缺货</a>
        </li>
        <li>
            <a href="javascript:void(0);">同城见面交易</a>
        </li>
        <li>
            <a href="javascript:void(0);">其他原因</a>
        </li>
    </ul>
    <button class="abrogate">取消</button>
</div>
<div class="screen">
    <ul>
        <li class="cur" name="allOrder">
            <a href="javascript:void(0);">
                <span>全部</span>
                <i class="iconfont" style="display: block;">&#xe653;</i>
            </a>
        </li>
        <li name="noCon">
            <a href="javascript:void(0);">
                <span>未消费</span>
                <i class="iconfont">&#xe653;</i>
            </a>
        </li>
        <li name="peShip">
            <a href="javascript:void(0);">
               <span> 待发货</span>
                <i class="iconfont">&#xe653;</i>
            </a>
        </li>
        <li name="hasShi">
            <a href="javascript:void(0);">
               <span> 待收货</span>
                <i class="iconfont">&#xe653;</i>
            </a>
        </li>
        <li name="pePay">
            <a href="javascript:void(0);">
                <span>待付款</span>
                <i class="iconfont">&#xe653;</i>
            </a>
        </li>
        <li name="hasCon">
            <a href="javascript:void(0);">
                <span>已消费</span>
                <i class="iconfont">&#xe653;</i>
            </a>
        </li>
    </ul>
</div>
<div class="con-search marginTopHead">
    <i class="iconfont" style="display:none" id="delBtn">&#xe64d;</i>
    <input class="single-line"type="tel" maxLength="23"  onkeyup="inputValidate.onlyInteger(this)"  onblur="inputValidate.onlyInteger(this)"  id="searchContent" placeholder="以买家手机号或者订单号搜索订单">
        <span class="nav-btn iconfont" id="searchBtn">
            
        </span>
</div>

<div class="content" id="userOrderList">

    <!-- 
    <div class="con-list">
        <div class="hd bg-white">
            <a href="javascript:;">
                <span>
                    <img src="./img/consignment@2x.png"/>
                </span>
                三全旗舰店 >
            </a>
            <span class="kdl-right color-red">等待买家付款</span>
        </div>
        <ul>
            <li>
                <a href="javascript;:">
                    <div class="pic">
                        <img src="./img/user_shopkeeper_img2@2x.png"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray6 ellips">2016春秋季 韩版棒球服印花夹克棒球服</h6>
                        <p class="color-gray9">颜色分类：黑白</p>
                    </div>
                    <div class="jiage">
                        <span class="color-gray3">￥85.90</span>
                        <p class="color-gray6">x1</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript;:">
                    <div class="pic">
                        <img src="./img/user_shopkeeper_img2@2x.png"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray6 ellips">2016春秋季 韩版棒球服印花夹克棒球服</h6>
                        <p class="color-gray9">颜色分类：黑白</p>
                    </div>
                    <div class="jiage">
                        <span class="color-gray3">￥85.90</span>
                        <p class="color-gray6">x1</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="bd">
            <div>
                共1件商品 合计：<cite class="h5">￥55.90</cite>（含运费<cite>￥0.00</cite>）
            </div>
            <div>
                <button>取消订单</button>
                <button class="cur">付款</button>
            </div>
        </div>
    </div>
    <div class="con-list">
        <div class="hd bg-white">
            <a href="javascript:;">
                <span>
                    <img src="./img/consignment@2x.png"/>
                </span>
                三全旗舰店 >
            </a>
            <span class="kdl-right color-red">卖家已发货</span>
        </div>
        <ul>
            <li>
                <a href="javascript;:">
                    <div class="pic">
                        <img src="./img/user_shopkeeper_img2@2x.png"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray6 ellips">2016春秋季 韩版棒球服印花夹克棒球服</h6>
                        <p class="color-gray9">颜色分类：黑白</p>
                    </div>
                    <div class="jiage">
                        <span class="color-gray3">￥85.90</span>
                        <p class="color-gray6">x1</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript;:">
                    <div class="pic">
                        <img src="./img/user_shopkeeper_img2@2x.png"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray6 ellips">2016春秋季 韩版棒球服印花夹克棒球服</h6>
                        <p class="color-gray9">颜色分类：黑白</p>
                    </div>
                    <div class="jiage">
                        <span class="color-gray3">￥85.90</span>
                        <p class="color-gray6">x1</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="bd">
            <div>
                共1件商品 合计：<cite class="h5">￥55.90</cite>（含运费<cite>￥0.00</cite>）
            </div>
            <div>
                <button>查看物流</button>
                <button class="cur">确认收货</button>
            </div>
        </div>
    </div>
    <div class="con-list">
        <div class="hd bg-white">
            <a href="javascript:;">
                <span>
                    <img src="./img/consignment@2x.png"/>
                </span>
                三全旗舰店 >
            </a>
            <span class="kdl-right color-red">交易关闭</span>
        </div>
        <ul>
            <li>
                <a href="javascript;:">
                    <div class="pic">
                        <img src="./img/user_shopkeeper_img2@2x.png"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray6 ellips">2016春秋季 韩版棒球服印花夹克棒球服</h6>
                        <p class="color-gray9">颜色分类：黑白</p>
                    </div>
                    <div class="jiage">
                        <span class="color-gray3">￥85.90</span>
                        <p class="color-gray6">x1</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript;:">
                    <div class="pic">
                        <img src="./img/user_shopkeeper_img2@2x.png"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray6 ellips">2016春秋季 韩版棒球服印花夹克棒球服</h6>
                        <p class="color-gray9">颜色分类：黑白</p>
                    </div>
                    <div class="jiage">
                        <span class="color-gray3">￥85.90</span>
                        <p class="color-gray6">x1</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="bd">
            <div>
                共1件商品 合计：<cite class="h5">￥55.90</cite>（含运费<cite>￥0.00</cite>）
            </div>
            <div>
                <button>删除订单</button>
            </div>
        </div>
    </div>
    <div class="con-list">
        <div class="hd bg-white">
            <a href="javascript:;">
                <span>
                    <img src="./img/consignment@2x.png"/>
                </span>
                三全旗舰店 >
            </a>
            <span class="kdl-right color-red">交易成功</span>
        </div>
        <ul>
            <li>
                <a href="javascript;:">
                    <div class="pic">
                        <img src="./img/user_shopkeeper_img2@2x.png"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray6 ellips">2016春秋季 韩版棒球服印花夹克棒球服</h6>
                        <p class="color-gray9">颜色分类：黑白</p>
                    </div>
                    <div class="jiage">
                        <span class="color-gray3">￥85.90</span>
                        <p class="color-gray6">x1</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript;:">
                    <div class="pic">
                        <img src="./img/user_shopkeeper_img2@2x.png"/>
                    </div>
                    <div class="txt">
                        <h6 class="color-gray6 ellips">2016春秋季 韩版棒球服印花夹克棒球服</h6>
                        <p class="color-gray9">颜色分类：黑白</p>
                    </div>
                    <div class="jiage">
                        <span class="color-gray3">￥85.90</span>
                        <p class="color-gray6">x1</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="bd">
            <div>
                共1件商品 合计：<cite class="h5">￥55.90</cite>（含运费<cite>￥0.00</cite>）
            </div>
            <div>
                <button>查看物流</button>
                <button>评价</button>
            </div>
        </div>
    </div>
    -->
</div>
