<style type="text/css">
    .content>ul{background-color: #fff;}
    .content>ul>li{border-bottom: 1px solid #e5e5e5;}
    .content>ul>li>a{ display: block; position: relative; padding:.2rem 1.2rem .2rem .2rem;box-sizing: border-box;}
    .content>ul>li>a>span{ position: absolute; width: 2rem;  display: block; top: .2rem; right: .2rem; text-align: right;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">兑单记录</span>
</header>
<!--内容-->
<div class="content">
    <ul id="dataList" class="m-top10">
    </ul>
    <%=REND("include/empty",{icon:"&#xe6a9;",tip:"暂无兑单记录",price:"2.5",display:"none",paddingbottom:"1"})%>
</div>













