<style type="text/css">
   .navbar .nav-header{ color: #333;}
   .nav-wrap-right>a{ width:1.1rem;}
   .personnelList>ul>li{margin-bottom:.1rem; background-color:#fff;}
   .personnelList>ul>li>a{position:relative; padding:.15rem; box-sizing:border-box;display:block; padding-left:1.1rem; padding-right:.5rem;}
   .personnelList>ul>li>a .pic{width:.8rem; height:.8rem; border-radius:50%; overflow:hidden; position:absolute; top:.15rem; left:.15rem;}
   .personnelList>ul>li>a .pic>img{width:100%; height:100%;}
   .personnelList>ul>li>a>i{ position:absolute; right:.15rem; top:.5rem;}
   .ThinkChangeBox{ padding:.5rem; width:5rem; box-sizing:border-box;display:none; position:fixed; z-index:9; left:50%; margin-left:-2.5rem; top:50%; margin-top:-3rem;}
   .ThinkChangeBox .pic{text-align:center; width:3.6rem; height:3.6rem; margin:0 auto;}
   .ThinkChangeBox .pic>img{width:100%;height:100%;}
   .ThinkChangeBox>i{ position:absolute; right:-.2rem; top:-.33rem;font-size: .66rem;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="#business/merchant" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1">员工管理</span>
    <div class="nav-wrap-right" id="addPersonnel" onclick="this.ctrl.addShopPersonnelCode()">
        <a href="javascript:;" class=" color-gray3">
        	添加员工
        </a>
    </div>
</header>
<!--遮罩    二维码-->
<div class="theme-popover-mask"></div>
<div class="ThinkChangeBox bg-white">
	<i class="iconfont color-red">&#xe64d;</i>
	<div class="pic">
	</div>
	<p class="color-gray3 p m-top20">可以通过开店啦app-发现-扫一扫来扫码成为商家店员，或者微信等其他方式扫码</p>
</div>



<div class="content">
   <div class="personnelList">
   		<ul id="shopPersonnelList">
   			
   		</ul>
   </div>
   <%=REND("include/empty",{icon:"&#xe6a8;",tip:"您还没有添加员工哦~",price:"2.5",display:"none",paddingbottom:"1"})%>
</div>