<style>
    body{ padding-bottom: 0;}
    .navbar2{background-image: none;border-bottom: 1px solid #e5e5e5;}
    img{width: 100%;}
    .activity{box-sizing: border-box; padding: .2rem; padding-left: 1.2rem;  position: relative;background-color: #fff; border-bottom: 1px solid #e5e5e5;}
    .activity >a{ border-bottom: 1px solid #e5e5e5; display: block; padding-bottom: .2rem; padding-left: .8rem; box-sizing: border-box}
    .activity >div.hd>a .pic{position: absolute; left: .2rem; top: .2rem; border-radius: 50%; width: .7rem; height: .7rem; display: block; overflow: hidden; background-color: #f0f0f0;}
    .activity >div.hd h6{font-size: .24rem;}
    .activity-con{ padding: .2rem; box-sizing: border-box; background-color: #fff;}
    .activity-con .tit>ul>li{ color: #999; position: relative; line-height: .4rem; min-height: .4rem; padding-left: 1.2rem; box-sizing: border-box;}
    .activity-con .tit>ul>li>span:first-child{ position: absolute; left: 0; top: 0;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">促销活动详情</span>
    <div class="nav-wrap-right">
        <a href="javascript:;" class=" color-gray3">
            <span class="nav-btn">
                <i class="iconfont icon-info">&#xe601; </i>
            </span>
        </a>
    </div>
</header>
<div class=" content">
    <div class="activity">
        <div class="hd">
            <a href="javascript:;">
                <div class="pic">
                    <img src="./img/home_img3@2x .png"/>
                </div>
                <h6 class="ellips1">昌城商业</h6>
                <p class="color-gray9 m-top5 ellips1">店铺地址店铺地址店铺地址店铺地址店铺地址店铺地址店铺地址店铺地址</p>
            </a>
        </div>
    </div>
    <div class="activity-con">
        <div class="tit">
            <h5 class="ellips1">2016年松紧秋秀印花烛款</h5>
            <ul>
                <li>
                    <span>活动时间:</span>
                    2016-04-01 22:22-2016-05-16 23:22
                </li>
                <li>
                    <span>活动地点:</span>
                    <span> 北京市昌平 区上奥世纪中心A座16km北京市昌平 区上奥世纪中心A座16km</span>
                </li>
                <li>
                    <span>咨询电话:</span>
                    <a href="tel:18518797729">18518797729<i class="iconfont color-orange">&#xe61b;</i></a>
                </li>
            </ul>
        </div>
        <div class="con-txt">
            <p class="m-top10 color-gray6"> 区上奥世纪中心A座16km北京市昌平 区上奥世纪 区上奥世纪中心A座16km北京市昌平 区上奥世纪 区上奥世纪中心A座16km北京市昌平 区上奥世纪 区上奥世纪中心A座16km北京市昌平 区上奥世纪 区上奥世纪中心A座16km北京市昌平 区上奥世纪</p>
            <img class="m-top10" src="./img/home_img3@2x .png"/>
            <p class="m-top10 color-gray6"> 区上奥世纪中心A座16km北京市昌平 区上奥世纪 区上奥世纪中心A座16km北京市昌平 区上奥世纪 区上奥世纪中心A座16km北京市昌平 区上奥世纪 区上奥世纪中心A座16km北京市昌平 区上奥世纪 区上奥世纪中心A座16km北京市昌平 区上奥世纪</p>
            <img class="m-top10" src="./img/home_img3@2x .png"/>
        </div>
        <p class="m-top20">
            <span class="color-gray6">浏览量666</span>
            <span class="color-gray6" style="margin-left: .5rem;"><i class="iconfont" id="praise">&#xe607;</i>116</span>
        </p>
    </div>
</div>













