<style>
a.footer {
    position: fixed;
    bottom: 0;
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    text-align: center;
    display: block;
    border: 0;
    font-size: .36rem;
}
.iconfont {
	margin: 0 .2rem;
	font-size: 0.36rem;
}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">售后帮助</span>
    <div class="nav-wrap-right">
        <a href="#message/messageLists?userType=member">
            <span class="nav-btn">
                <i class="iconfont icon-info"> </i>
            </span>
        </a>
    </div>
</header>
<div class="content bg-white color-gray6" style="padding:.9rem .2rem;white-space: pre-wrap;line-height:2;">
<b>开店啦交易纠纷处理办法</b>
开店啦非司法机关，将基于普通人的判断，根据“由过错方承担相关费用“的处理原则，并依据《消费者权益保护法》等法规，对该笔交易纠纷做出判断及处理。开店啦不能保证纠纷处理结果符合买家与商家的期望。
交易纠纷处理期间，开店啦将通过买卖双方在交易时留下的手机号码做为主要联系方式，并向买卖双方传递与纠纷处理相关的提示或通知。
<b>第一章 开店啦介入纠纷处理条件</b>
开店啦处理纠纷，是指在交易进行中或完成后，买家或实体商家提起纠纷介入申请，开店啦根据相关法律法规和开店啦规则对纠纷涉及的交易款项做处理。
开店啦的介入时间，以买家物流签收或交易成功的时间为判断依据。
（一）“买家物流签收”，指商家按照与买家的约定，将交易商品通过物流配送至买家下单时指定接收地点，买家本人签收或委托代签等；
（二）“交易成功”，包括买家确认收货、系统延时默认收货、买家进店确认消费，开店啦给实体商家打款；
<b>第二章 交易操作规范</b>
买卖双方交易的商品要符合相关法规，且不能违反《开店啦商家管理规范》和《开店啦禁售商品管理》。商家对交易的商品要说明真实情况，做到描述真实、完整，不能对商品存在瑕疵等有可能危害到买家的信息做隐瞒。
（一）买家对交易商品有异议的，需在开店啦受理的时间和范围内提出投诉。开店啦建议买家在购物时优先选择有“保证金”或“七天无理由退货”等服务保障的商家进行购买，并与商家做好沟通。
（二）在收货时买家需检查货物并确认商品是否与商家的描述一致，确认无误后再使用。
（三）如果买家在使用商品的过程中对商品质量、真假等问题有异议的，需保留好相关凭证并积极与商家协商解决。
<b>第三章 纠纷原因及处理办法</b>
第一条 零售商品质量问题
（一）定义
商家在开店啦销售的商品存在危及人身、健康、财产安全的不合理危险，所售商品不具备商品的使用性能或性能存在瑕疵（商家对使用性能瑕疵做说明的除外）。
（二）开店啦介入时间：
1、买家物流签收后15天内；
2、开店啦的介入时间为该笔订单交易成功的15天内。
（三）开店啦处理原则：
1、若交易商品确实存在质量问题，开店啦支持退货退款，来回运费由商家承担；
2、若交易商品因危及人身安全等导致买家损失的，开店啦会协助买家维权；
3、买家因质量问题，超过投诉期限后向开店啦提纠纷介入申请，开店啦不再受理；
4、买家无法提供商品存在质量问题的相关凭证，开店啦以商家提供的凭证做为判断参考依据。
（四）买卖双方举证
1、买家对交易商品因质量问题提出投诉，且该问题可以通过直观的视觉判断，开店啦根据买家提供的商品图片直接判断责任归属；
2、买家对交易商品因质量问题提出投诉，该问题无法通过视觉直接做出判断，买家需向开店啦提供以下凭证，开店啦按照纠纷的具体情况参考相关凭证做初步判断：
1）、商品厂家或授权机构出具的质量鉴定证明；
2）、买家使用文字/图片描述商品质量出现的问题；
3、买家提供凭证后，商家需提供以下凭证，开店啦按照纠纷的具体情况参考相关凭证并做出最终判断标准：
1）、进货时的原始票据：有商品名称(货号)、数量、日期，有票据专用章；国外或线下渠道进货或代购，需提供相应购物小票；
2）、交易商品所属品牌的授权书。
（五）送检认定
买家因商品质量问题发起投诉，买卖双方都按照开店啦要求提供了有效证明文件，若双方对该证明文件存在疑问，由买家向开店啦提供相应品牌商的检测凭证，开店啦根据检测结果判断检测所需费用的承担方。

第二条 零售商品和服务商品描述不符
（一）定义
指买家收到的商品或进店消费的服务与交易时商家的描述不符合，或商家的承诺与买家收到和获得的商品实际不符合。
（二）开店啦介入时间：
1、零售商品在买家物流签收后7天内，服务商品在买家进店服务后3日内；
2、开店啦的介入时间为该笔订单交易成功的7天内。
（三）开店啦处理原则
1、若开店啦介入纠纷处理后，判定交易商品存在描述不一致，开店啦支持退货退款，来回运费由商家承担；
2、若买卖双方在交易中对产生纠纷的内容没有具体沟通（如：商家告诉买家商品尺码是最大码，但没有告知具体尺寸），买卖双方已协商退款，但商品退回的运费没有协商一致，商家承担发货运费以及买家的退货运费；
3、若买卖双方在交易中对产生纠纷的内容没有具体沟通，买卖双方没有达成退款协议，开店啦介入后也无法从客观上确定责任方，该笔交易做退货退款处理，商家承担发货运费，买家承担退货运费；
4、买家因商品描述不符问题，超过投诉期限后向开店啦提纠纷介入申请，开店啦不再受理；
5、买家无法提供商品描述不符的相关凭证，开店啦以商家提供的凭证做为判断参考依据。
（四）买卖双方举证
1、买家对交易商品因描述不符提出质疑，且该问题可以通过直观的视觉判断（例如可以使用参照物或标尺，标明商品的尺寸与商家描述不一致等），开店啦根据买家提供的文字或商品图片直接认定；
2、买家对交易商品因描述不符提出质疑，该情况无法通过视觉直接做出判断（如材质不符等），开店啦按照纠纷的具体情况参考相关凭证并做出最终判断标准：
1）、进货时的原始票据，有商品名称(货号)、数量、日期，有票据专用章；国外或线下渠道进货或代购，需提供相应购物小票；
2）、交易商品所属品牌或厂家的授权书、经销凭证、产品合格证、检测凭证等；
第三条 假冒商品
（一）定义
商家销售的商品没有经过权利人许可，私自复制或者模仿权利人的商品产地、包装及外观等，以及商家为出售假冒、盗版商品提供便利条件。
（二）开店啦介入时间：
1、零售商品在买家物流签收后15天内，服务商品在买家进店服务后3日内；
2、开店啦的介入时间为该笔订单交易成功的15天内。
（三）开店啦处理原则
1、若交易商品确实为假冒商品，开店啦对该笔交易做退款处理，对交易商品由买卖双方自行解决；
2、若商家能提供有效凭证证明交易商品并非假冒商品，且买家无有效举证的，开店啦会把交易款项支付给商家；
3、若买家举证商品为假冒商品，但未提供有效凭证去证实，且商家也无法有效举证的，开店啦对该笔交易做退货退款处理；
4、若交易商品因危及人身安全等导致买家损失的，由买卖双方进行协商，开店啦协助买家维权；
5、买家因假冒商品问题，超过投诉期限后向开店啦提纠纷介入申请，开店啦不再受理；
6、买家无法提供假冒商品的相关凭证，开店啦以商家提供的凭证做为判断参考依据。
（四）买卖双方举证
1、买家对交易商品提出存在假冒商品的质疑，且无法通过直观的视觉做出判断（如高仿、A货等），开店啦要求买家提供交易商品品牌的假货鉴定证明，需提供鉴定证明如下：
1）、要包含商品的型号、鉴定的结果；
2）、盖有鉴定中心的公章；
2、买家提出鉴定证明后，开店啦要求商家提供以下凭证：
1）、进货时的原始票据，有商品名称(货号)、数量、日期，有票据专用章；国外或线下渠道进货或代购，需提供相应购物小票；
2）、交易商品所属品牌或厂家的授权书、经销凭证、产品合格证、检测凭证等；
（五）送检认定
买家因假冒商品问题发起投诉，买卖双方都按照开店啦要求提供了有效证明文件，若双方对该证明文件存在疑问，由买家向开店啦提供相应品牌商的鉴定凭证，开店啦根据鉴定结果判断相关费用的承担方。

第四条 零售商品的发货/收货
（一）投诉“不发货”介入条件：
1、直接到账的订单，开店啦介入时间为“商家提现前”；
2、担保交易/七天无理由的订单，开店啦介入时间为“交易建立后，商家未发货，且买家发起投诉后被拒绝”；
（二）买卖双方应尽义务：
1、发货
1）除买卖双方协商一致的，开店啦商家需在买家付款后的72小时内操作发货；
2）商家与买家在交易过程中沟通好发货时间，待买家付款后要在承诺时间内发货。商家有义务将交易商品通过物流配送至买家提供的地址。
3）参加官方活动的商家，发货时间以官方发布的发货时间为准。
4）商家优先选择有签收凭证的物流公司发货，若买卖双方使用当面交易交付货物，交易风险由买卖双方自行承担。
2、收货
1）商家依照承诺发货后，买家有义务收货，无正当理由不得拒绝签收，买家委托他人代签商品，视为本人签收。
2） 买家在收货时要对商品进行验收，发现与商品描述不符的情况，有权拒绝收货。对无法从表面判断商品描述是否符合的商品，买家应要求物流配送员现场监督后，当场打开包装查看。若发现描述不符，可要求直接退回商品，或要求物流配送员在物流签收单的收货人联和承运人联上备注详细情况，且要求物流配送员签字确认。
（三）开店啦处理原则：
1、买家收货后以商品质量、描述不符、假货等理由投诉商家，按相关处理原则为准。
2、以下3种情况，开店啦对交易做给商家打款处理，涉及运费由买卖双方协商，协商不一致由买家承担：
1）因买家填写的收货信息错误，导致商品被该收货地址签收，开店啦视为本人已收货；
2）买家无合理理由拒绝签收商品，导致商品在物流公司搁置；
3）商家与买家在交易过程中沟通好发货时间，且商家在承诺时间内已发货，但买家因为自身原因要求商家不发货、或退货，买家须与商家协商商品与货款的归属。
3、以下2种情况，开店啦对交易做给买家退款处理，运费由商家承担：
1）商家没有依照和买家沟通的物流公司和地址发货，导致买家拒签、或交易商品被该收货地址签收；
2）买家在收货时发现存在描述不一致的情况，且当场要求退回货物，物流配送状态有配送人员的签字和情况说明.
（四）买卖双方举证：
买家投诉未收到货，但商家表示对方已签收，商家需提供收件人签收的物流底单，证实买家已收到货物。开店啦依据物流公司系统内的物流配送记录信息进行判定。
第五条 退换货及运费争议
（一）开店啦处理原则：
1、 “七天无理由退货”不适用于定制商品，申请退货的商品，不包括“定制商品、鲜活易腐商品、音像等电子制品、书刊”。服务商品在确认消费后，不适用“七天无理由退货”。
2、退、换回给商家的商品，买家需保证不影响商品二次销售，包括商品的外观、表面无划痕和破损等痕迹，且附/赠/配件齐全。
3、商家与买家协商一致有退货承诺的定制商品不包括在内；
4、买卖双方协商一致退换货后，对运费、退换货方式、退货换时间等有争议的；
5、买卖双方协商不一致，申请开店啦介入纠纷处理后，开店啦对于交易商品和货款的处理（包括买家因为自身原因不想收货，或买家因物流等原因不想收货）；
6、买卖双方协商一致的运费金额低于实际发生的金额，开店啦不对该运费差额做处理；
7、货到付款的交易产生的运费纠纷，买卖双方需协商处理，开店啦不介入处理。
（二）且买卖双方应尽义务：
1、退换货时间
开店啦介入纠纷处理后，对交易商品做退换货处理的同时，会通知买卖双方退货时间；
2、退货地址
买家要按照和商家协商的地址或开店啦告知的退货地址操作退货；
3、换货地址：
商家要按照和买家协商的换货地址或开店啦告知的换货地址操作换货，所换商品要与协商的商品一致、或与开店啦通知调换的商品一致。若不一致，买家有权利拒收。
4、退换货物流选择及运费支付
1）买卖双方协商一致的退换货、或开店啦处理的退换货，买家应在和商家协商的时间内或开店啦规定时间内操作退货，使用开店啦或商家指定的物流方式发货，不得使用到付方式发货。
2）若买卖双方没有达成协商一致，开店啦介入后也无法从客观上确定责任方，该笔交易做退货退款处理，商家承担发货运费，买家承担退货运费。
（三）开店啦处理原则：
1、开店啦商家有义务支持交易商品“7天无理由退货”；
2、以下2种情况，该交易开店啦做给买家退款处理，涉及运费由商家承担。退款处理后，商家若要求取回商品需与买家协商，开店啦不介入处理：
1）开店啦介入纠纷处理后，若商家未在规定时间内提供退换货地址；或者退货地址错误致使买家无法操作退换货、或快递无法送达；
2）买卖双方协商一致后，买家将货物发给商家且物流状态也能查询到，商家无正当理由拒绝签收商品，使货物滞留在物流或返回至发件方；
3、以下2种情况，开店啦对交易做给商家打款处理，涉及运费由买卖双方协商，协商不一致由买家承担：
1）开店啦介入纠纷处理后或买卖双方协商一致后，买家未在规定时间操作退款；
2）交易商品在退货过程中因物流原因或其他不明原因等造成货物损毁，商家将货物退回给买家后，买家不配合查找货物毁损原因等（表现为无理由拒绝签收等），开店啦判定此种情况为买家过失；
4、买卖双方协商一致或开店啦处理结果为换货，商家收到买家退回的商品后未在规定时间内再次发货，开店啦对交易款项做给买家退款处理。
5、买卖双方协商一致或开店啦处理结果为退换货的，买家未按规定退货，开店啦将货款给商家提现后，若买家再次要求退货需与商家协商，开店啦不再介入处理。
<b>开店啦（沈阳）电子商务有限公司</b>
2015-12-2
<br>
</div>
<a href="tel:4009960024" class="footer color-white bg-red" ><i class="iconfont">&#xe62f;</i>联系客服</a>