<style type="text/css">
    .content>ul>li{ height: 1.1rem; border-bottom: 1px solid #e5e5e5; padding: .15rem .2rem; box-sizing: border-box;}
    .content>ul>li>a{ display: block; position: relative; padding-left: 1rem; box-sizing: border-box;}
    .content>ul>li>a>i{ position: absolute; left: 0; top: 0; width: .8rem; height: .8rem; line-height: .8rem; text-align: center; font-size: .5rem; border-radius: 3px; color: #fff;}
    .content>ul>li>a>h5{line-height: .4rem; position: relative; padding-right: 1rem; box-sizing: border-box;}
    .content>ul>li>a>h5>span{ position: absolute; right: 0; top: 0; font-size: .24rem; color: #999;}
    .content>ul>li>a>p{ font-size: .26rem; color: #666; padding-right: .5rem; box-sizing: border-box;}
</style>
<header class="navbar navbar2">
    <div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-gray3">
            <i class="iconfont">&#xe60b;</i>
            <s></s>
        </a>
    </div>
    <span class="nav-header h1 color-gray3">消息中心</span>
    <div class="nav-wrap-right">
        <a href="javascript:;" class=" color-gray3">
            <span class="nav-btn">
                <i class="iconfont icon-info">&#xe636; </i>
            </span>
            <s></s>
        </a>
    </div>
    <div class="nav-dropdown">
        <span class="triangle-up"></span>
        <ul>
            <li>
                <a class="react" href="/">
                    <i class="iconfont">&#xe602;</i>
                    <space></space>首页
                </a>
            </li>
            <li>
                <a class="react" href="javascript:;">
                    <i class="iconfont">&#xe603;</i>
                    <space></space>搜索
                </a>
            </li>
            <li>
                <a class="react" href="javascript:;">
                    <i class="iconfont">&#xe601;</i>
                    <space></space>消息
                    <em class="information">8+<s class="triangle-up"></s></em>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="content">
    <ul class="bg-white">
        <li>
            <a href="javascript:;">
                <i class="iconfont" style="background-color:#DF4545 ">&#xe65c;</i>
                <h5>订阅号<span>20:46</span></h5>
                <p class="ellips1">[上新]夏装中长款2016新款印花中长款2016新款印花</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont" style="background-color:#5C5ECB">&#xe65c;</i>
                <h5>旺旺消息<span>20:46</span></h5>
                <p class="ellips1">您觉得怎么样？</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont" style="background-color:#45C0DF">&#xe65c;</i>
                <h5>近期活动<span>20:46</span></h5>
                <p class="ellips1">[上新]夏装中长款2016新款印花中长款2016新款印花</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iconfont" style="background-color:#A7CA3C">&#xe65c;</i>
                <h5>通知消息<span>20:46</span></h5>
                <p class="ellips1">您在易速旗舰店发起的退款已成功，请您舰店发起舰店发起舰店发起</p>
            </a>
        </li>
    </ul>
</div>
