<header class="navbar navbar2">
    <!--<div class="nav-wrap-left">
        <a href="javascript:history.go(-1);" class="color-white">
            <span class="nav-city">
                <i class="iconfont">&#xe60b;</i>
            </span>
        </a>
    </div>-->
    <span class="nav-header h1 color-gray3">发现</span>
    <!--<div class="nav-wrap-right">
        <a href="javascript:;" class="color-white">
            <span class="nav-btn">
                <i class="iconfont icon-info">&#xe603;</i>
            </span>
        </a>
    </div>-->
</header>
<div class="content">
    <ul>
        <li>
            <a href="#etc/swish">
                <em class="iconfont" style="color:#259fd0; ">&#xe615;</em>
                <span>嗖一下</span>
                <i class="iconfont">&#xe608;</i>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <em class="iconfont color-grey" style="color:#ef8d00; ">&#xe613;</em>
                <span class="color-grey">附近折扣</span>
                <i class="iconfont color-grey">&#xe608;</i>
            </a>
        </li>
    </ul>
</div>