<style type="text/css">
	.content .hd{ padding:.3rem .2rem; border-bottom:1px solid #e5e5e5;}
	.content .hd input{width:150px; font-size:.24rem; color:#333; border-radius:3px; height:.5rem; line-height:.5rem; border:1px solid #ddd;text-indent:.1rem; margin:0 .1rem;}
	.content .hd span{ float:right;margin-right:.15rem;}
	.content .list li{position: relative;padding:.15rem; border-box:box-sizing; border-bottom:1px solid #e5e5e5; color:#333;}
	.content .list li>i{font-size:.42rem; width:.6rem;height:.6rem;vertical-align: middle; margin-right:.1rem; line-height:.6rem; color:#fff; background-color:#02B3A9; display: inline-block;text-align: center;border-radius: 50%;}
	.content .list li span{float:right;line-height: .6rem; display:none;}
	.content .list li span>i{margin-left:.1rem;}
	.more:after{right:.15rem;}
</style>
<header class="navbar navbar2">
   
</header>
<!--内容-->
<div class="content">
	
</div> 













